@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background-color: #fff;
	font-family: "Roboto", sans-serif;
	font-size: 16px;
	color: #333;
	cursor: url("/images/cathands.svg"), default;
}

a {
	display: block;
	cursor: url("/images/icon_paw--link.svg"), default;
}
