@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background-color: #fff;
	font-family: "Roboto", sans-serif;
	font-size: 16px;
	color: #333;
	cursor: url("/images/cathands.svg"), default;
}

a {
	display: block;
	cursor: url("/images/icon_paw--link.svg"), default;
}

.sns::before,
.sns::after {
	content: "";
	display: block;
	position: absolute;
	width: 52px;
	height: 52px;
	top: -30px;
}
.sns::before {
	border: solid 3px #fff;
	border-radius: 50%;
}
.note {
	border: solid 3px #6cc39e;
	border-bottom: solid 6px #6cc39e;
}
.note::before {
	background-color: #6cc39e;
}
.note::after {
	background: url("/sns_note.svg") no-repeat center;
}
.instagram {
	border: solid 3px #b77d48;
	border-bottom: solid 6px #b77d48;
}
.instagram::before {
	background: #b77d48;
}
.instagram::after {
	background: url("/sns_instagram.svg") no-repeat center;
}
.twitter {
	border: solid 3px #689ea7;
	border-bottom: solid 6px #689ea7;
}
.twitter::before {
	border-radius: 50%;
	background: #689ea7;
}
.twitter::after {
	background: url("/sns_twitter.svg") no-repeat center;
}
.tiktok {
	border: solid 3px #934449;
	border-bottom: solid 6px #934449;
}
.tiktok::before {
	background: #934449;
}
.tiktok::after {
	background: url("/sns_tiktok.svg") no-repeat center;
}
